<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
      xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
      id="WebApp_ID"
      version="3.0">
      
	<display-name>OTV_JSF_PrimeFaces_Spring_Hibernate</display-name>
	<!-- Spring Context Configuration' s Path definition -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/applicationContext.xml</param-value>
	</context-param>
	
	<!-- The Bootstrap listener to start up and shut down Spring's root WebApplicationContext. It is registered to Servlet Container -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
	</listener>
	
	<!-- Project Stage Level -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Development</param-value>
	</context-param>
	
	<!-- Welcome Page -->
	<welcome-file-list>
		<welcome-file>/login/login.jsf</welcome-file>
	</welcome-file-list>
	
	<!-- rest inicio -->
	<servlet>
		<servlet-name>rest-dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>rest-dispatcher</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/rest-dispatcher-servlet.xml</param-value>
	</context-param>
	
	<!-- rest fin -->
	
	
      
	<servlet>
	    <servlet-name>Faces Servlet</servlet-name>
	    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>Faces Servlet</servlet-name>
	    <url-pattern>*.jsf</url-pattern>
	</servlet-mapping>
	<context-param>
	    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
	    <param-value>.xhtml</param-value>
	</context-param>
</web-app>